$color1: #272d2d;
$color2: #a39ba8;
$color3: #b8c5d6;
$color4: #edf5fc;
$color5: #23ce6b;

* {
  color: $color1;
}

.shop__container {
  margin: 70px 0;
  display: flex;
  justify-content: center;
}

.products__grid {
  min-width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  row-gap: 30px;
  column-gap: 30px;
}

.product {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 320px;
    border-radius: 30px 0 30px 0;
    box-shadow: 8px 8px 7px 0px $color2;
  }

  .product__title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 10px 0;
  }

  .product__description {
    height: 135px;
    width: 320px;
    margin: 0 7px;
    word-wrap: break-word;
  }

  .product__button {
    font-weight: 600;
    width: 130px;
    margin: 10px 0;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 20px;
    background: $color5;
    cursor: pointer;
    transition: all ease-in-out 0.25s;

    .product_button_icon {
      font-size: 1.4rem;
      margin-right: 7px;
      transition: all ease-in-out 0.25s;
    }

    &:hover {
      transform: scale(1.1);

      .product_button_icon {
        fill: $color4;
      }
    }
  }
}
